.divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tabs .tab a{
    color:#7b8081;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:#ffffff;
	color:#3e4984;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);
}
.tabs .indicator {
	background-color:#8BC34A;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(178, 246, 228, 0.2);
    outline: none;
}
